<h2>Events</h2>

<%= month_calendar events: @calendar_events do |day, events| %>
  <div><%= day.to_s(:short) %></div>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event) %>
      <% if event.user == current_user %>
        (<%= link_to 'Edit', edit_event_path(event) %>)
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
